.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 90px;
}

.title {
  font-size: 1.1rem;
}
.saveBtn {
  font-size: 16px;
  padding: 18px 27px;
  margin: 8px 3px;
  box-shadow: 4px 3px 8px #888888;
  background: #3f5097;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 13px;
  text-transform: uppercase;
}
