.container {
  margin-top: 40px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}
h1 {
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
}
.subheader {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.newTaskButton {
  background: #3f5097;
  color: white;
  box-shadow: 4px 3px 8px #888888;
  opacity: 0.9;
  width: 100%;
  padding: 12px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 8px 4px;
  border: none;
}
.saveButton {
  font-size: 16px;
  padding: 18px 27px;
  margin: 8px 3px;
  box-shadow: 4px 3px 8px #888888;
  background: #3f5097;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.select {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  margin-bottom: 25px;
  background: #ffffff;
  border: 1px solid #c5c5c5;
}
.option {
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}
