.container {
  padding: 16px;
  border-radius: 10px;
  background: #ffffff;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.authForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffffff;
  border: 1px solid #c5c5c5;
}

.registerbtn {
  background-color: #3f5097;
  color: white;
  font-size: 18px;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
