.header {
  font-size: 1.4rem;
  padding: 10px;
}
.subheader {
  font-size: 1.2rem;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffffff;
  border: 1px solid #c5c5c5;
}

button {
  background-color: #3f5097;
  color: white;
  font-size: 18px;
  padding: 16px 20px;
  margin: 8px 4px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
