.headerContainer {
  width: 100%;
  text-align: center;
  background: #3f5097;
  height: 60px;
  border-radius: 10px 10px 0 0;
  position: sticky;
  top: 5px;
}

.headerTitle {
  margin-top: 0;
  padding-top: 15px;
  color: #ffffff;
}
