.menu {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100px;
}

.navItem {
  width: 40px;
  height: 40px;
  color: blue;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  margin-top: 10px;
}

.addTaskBtn {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
