.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.mainContainer {
  display: flex;
  flex-flow: column;
  background: #ffffff;
  border-left: 20px solid #da596e;
  border-radius: 10px;
  margin: 10px 30px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.smallerText {
  margin: 0;
  padding: 3px;
  font-size: 14px;
}

.titleText {
  font-size: 16px;
  margin: 2px 0;
  font-weight: bold;
}

.seeMoreIcon {
  text-align: center;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.button {
  padding: 5px 15px;
  width: fit-content;
}
