.header {
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
}
.subheader {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
}

.settingsInput {
  width: 98%;
  height: 24px;
  padding: 15px 25px;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  background: #ffffff;
  border: 1px solid #c5c5c5;
  margin: 1px;
}

.settingsButton {
  background: #3f5097;
  color: white;
  box-shadow: 4px 3px 8px #888888;
  opacity: 0.9;
  width: 100%;
  padding: 12px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 8px 4px;
  border: none;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}

/* .container {
  padding: 16px;
  padding-bottom: 30px;
  border-radius: 10px;
  background: 'rgba(255, 255, 255, 0.5)';
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 40px;
} */

.activeButton {
  background: #e07286;
  width: 100%;
  padding: 12px;
  font-size: 13px;
  text-transform: uppercase;
}
