.header {
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
}
.subheader {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  margin-top: 10px;
}
/* .form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.settingsButton {
  background: #3f5097;
  color: white;
  box-shadow: 4px 3px 8px #888888;
  opacity: 0.9;
  width: 99%;
  padding: 11px;
  margin-bottom: 15px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 8px 4px;
  border: none;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}
